#container {
  font-family: "Raleway", sans-serif;
}
#icon:hover {
  color: rgb(2, 2, 2);
}
#text {
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  #image {
    width: 85vw;
  }
  #container {
    max-width: 640px;
    max-height: 70vh;
    margin-top: 120px;
  }
  #root,
  html {
    background-color: rgb(237, 238, 238);
  }
}

@media screen and (max-width: 768px) {
  #image {
    margin-top: 1em;
    width: 35vw;
    text-align: center;
  }
  html,
  #root {
    background-color: rgb(255, 255, 255);
  }
}
